 * {
     box-sizing: border-box;
 }
 /* font-family: 'Pacifico', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Lobster Two', cursive; 


/* font-family: 'Playfair Display', serif; */
 
 .nav {
     background-color: white;
     position: fixed;
     height: 47px;
     width: 100%;
     font-size: 17px;
     line-height: 2;
     padding: 3px;
     top: 0;
     left: 0;
     -webkit-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
     box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
     margin-left: 13px;
 }
 
 .fa-plane {
     margin: 3px;
 }
 
 .logo-homepage {
     font-size: 22px;
 }
 
 .nav a {
     position: relative;
     cursor: pointer;
     text-decoration: none;
     color: #00A2FF;
     font-weight: bold;
 }
 
 .homepage {
     left: 500px;
 }
 
 .profile {
     left: 510px;
 }
 
 .create-event-form {
     margin-top: 20px;
 }
 
 .input {
     padding: 5px;
     text-align: center;
     margin: 20px;
     height: 30px;
     width: 155px;
     /* border: 3px solid rgba(85, 85, 85, 0.67); */
     -webkit-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
     box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
 }
 
 .input-time {
     margin: 5px;
     height: 30px;
     width: 100px;
 }
 
 .card {
     height: 20%;
     overflow: visible;
     width: 20%;
     margin: 5px;
     -webkit-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
     -moz-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
     box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
     float: left;
     font-size: 13px;
 }
 
 .card-body {
     padding: 10px;
 }
 
 .card-img-top {
     width: 100%;
     height: 50%;
 }
 
 @media (max-width: 750px) {
     .card {
         width: 100%;
         height: 100%;
     }
     .input {
         width: 100%;
     }
     body {
         margin-right: 5vw;
         margin-left: 2vw;
     }
 }
 
 .details {
     width: 100%;
     height: 100%;
     margin-top: 70px;
     position: relative;
 }
 
 .detail-img {
     width: 30%;
     height: 20%;
     /* border: 3px solid black; */
     margin-left: 6px;
     /* opacity: 0.5 */
 }
 
 .card-body-details {
     /* left: 450px;
    bottom: 210px;
    position: relative; */
     padding: 10px;
     /* text-align: left;
    bottom: 210px; */
 }
 
 .btn-join {
     margin-left: 100px;
     width: 20%;
     height: 30px;
     line-height: 2;
 }
 
 .fa {
     margin: 5px;
 }
 
 .inlineDiv {
     display: inline-flex
 }
 
 #PlacesAutocomplete__root>input {
     background-color: yellow;
     margin-top: 12%;
     height: 43%;
     border: 3px solid rgba(85, 85, 85, 0.67)
 }