* {box-sizing: border-box;}
/* font-family: 'Pacifico', cursive;
   font-family: 'Courgette', cursive;
   font-family: 'Lobster Two', cursive;  */
   /* font-family: 'Playfair Display', serif; */

/* //LOGIN PAGE */
@font-face{
    font-family: "GeosansLight.ttf";
    src: url(../fonts/GeosansLight.ttf);
}

@font-face{
    font-family: "TravelGoals.ttf";
    src: url(../fonts/TravelGoals.ttf);
}

.main-login-container{
   margin: 0 auto;
}

.signup-login-wrapper{
    height: 100vh;
    background: url("http://bit.ly/2zFmeyF");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding : 10px;
   
}
.website-title{
    background-position: fixed;
    font-family: "TravelGoals.ttf";
    font-size: 70px;
    text-align: center;
}
.login-title{
    font-family: "GeosansLight.ttf";
    font-size: 40px;
    color: white;
}

.create-title{
    font-family: "GeosansLight.ttf";
    font-size: 40px; 
    color: white;
}

.login-control[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

.login-control[type=password], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-control[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-control[type=password], select {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.login-control{
   display: inline-block;
   height: 34px;
   width: 350px;
   margin-bottom: 20px;
   outline: none;
   border: none;
   -webkit-box-shadow: 0 0 0px 1000px#FFFFFF inset
}

.login-control:focus{
    outline:none;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-appearance:none;
}
.signup-control{
    display: inline-block;
    height: 34px;
    width: 350px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    -webkit-box-shadow: 0 0 0px 1000px#FFFFFF inset;
}

/* HOMEPAGE */
.container{
   padding: 0;
   margin: 0;
}

.row{
   overflow: hidden;
   padding : 0 30px;

}


.nav {
   background-color: white;
   position: fixed;
   height: 47px;
   width: 100%;
   font-size: 17px;
   line-height: 2;
   padding: 0 30px;
   top: 0;
   left: 0;
   -webkit-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
   -moz-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
   box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
   
   z-index: 1;
}

.fa-plane  {
   margin: 3px;
}

.logo-homepage {
   font-size: 22px;
}

.fa-user {
    margin: 10px;
}


.nav a {
   position: relative;
   cursor: pointer;
   text-decoration: none;
   color: #00A2FF;
   font-weight: bold;
}

.username {
    left: 800px;
    font-size: 25px;
}

.homepage {
   left: 500px;
}

.logout {
   left: 505px;
}

.create-event-form {
   margin-top: 70px;
}

.input {
   padding: 5px;
   text-align: center;
   margin: 4px;
   height: 30px;
   width: 175px;
   font-size: 12px;
 
}

.input-time {
   margin: 5px;
   height: 30px;
   width: 100px;
}

.submit-event{
   color : #00A2FF;
   font-size: 12px;
   padding : 5px;
   font-weight: bold;
}

.card-wrapper {
   padding: 5px;
   width: 25%;
   float: left;
}

.card {
   height: auto;
   overflow: visible;
   width: 100%;
   /* margin: 5px; */
   -webkit-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
   -moz-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
   box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
   font-size: 13px;
}

.card-body {
   padding: 10px;
}

.card-img-top {
   width: 100%;
}


.card-description{
   margin-bottom : 10px;
}
@media (max-width: 750px) {
   .card {
       width: 100%;
       height: 100%;
   }
   .input {
       width: 100%;
   }
   body {
       margin-right: 5vw;
       margin-left: 2vw;
   }
} 




/* .card-body-details{
       height: auto;
       overflow: visible;
       width: 45%;
       margin: 5px;
       -webkit-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
       -moz-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
       box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
       font-size: 20px;
       padding: 10px;
       text-align: center;
       float: left;
} */
.detail-wrapper{
   height: auto;
   overflow: visible;
   width: 45%;
   margin-top: 58px;
   margin-left: auto;
   margin-right: auto;
   -webkit-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
   -moz-box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
   box-shadow: 4px 4px 22px -3px rgba(0, 0, 0, 0.6);
   font-size: 20px;
   padding: 10px;
   text-align: center;

}

.detail-img{
   width: 100%;
   height: 80%;
}

.details {
   position: relative;
}

.btn-join {
   background-color: white;
   color: black;
   border: 2px solid #00A2FF;
   padding : 10px;
   text-align : center;
   border-radius:10px;
   cursor: pointer;

}


#search-filter {
   width: 60%;
   height: 50px;
   padding: 10px;
   border: 1px solid rgb(112, 107, 107);
   text-align: center;
   margin-left: 200px;
   margin-top: 10px;
   margin-bottom: 16px;
}

.fa-search{
       color: white;
       border-top: 3px solid rgb(112, 107, 107);
       border-bottom: 3px solid rgb(112, 107, 107);
       border-right: 3px solid rgb(112, 107, 107);
       background-color: #00A2FF;
       width: 7%;
       font-size: 12px;
       font-weight: bold;
       padding: 10px;
       text-align: center;
       height: 49px;
       line-height: 2;
}


.inlineDiv {
    display: inline-flex
}

#PlacesAutocomplete__root>input {
   padding: 5px;
    margin-top: 3%;
    height: 30px;
    margin-top: 2.5%;
    text-align: center;
}

.map{
   
   height: 235px;
}


.clear {
   clear: both;
}